<h1>A simple text reversing service - page 70</h1>
<form action="/display" method="post" accept-charset="utf-8">
<p>Type in your text: </p> 
<input type="text" name="post[textv]" id="textv" /><br />
<input type="submit" value="reverse text">
</form>
