<h1>Form Parameters Display</h1>
<p>You had entered this text - <%= params[:post][:textv] %></p>
<p>And the reversed text is <%= params[:post][:textv].reverse %></p>
<p>Click <a href="/">here</a> to try some more text.</p>
